/* Global vars CSS */

:root {
    /* Colors */
    --bg-general-color: #f4f4f9;
    --bg-color-trans: rgba(255, 255, 255, 0.7);
    --text-color: #f9f9f9;
    --text-color-dark: #222;
    --bg-header-footer-color: rgba(255, 255, 255, 0.9);

    /* Typography */
    --font-family: 'Poppins', Arial, sans-serif;
    --font-weight: 600;
    --font-size-title: 2rem;
    --font-size: 1rem;

    /* Dimensions */
    --container-max-width: 1200px;
    --container-padding: 2rem;
    --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    --border-radius: 6px;
    --: 2rem;

    /* Buttons */
    --btn-bg: #6e99d9;
    --btn-bg-hover: #709571;
    --btn-cursor: pointer;
    --btn-padding: 0.8rem 2rem;
    --btn-border-radius: 10px;
    --btn-transition: background-color 0.3s ease, transform 0.3s ease;

}

